.border-white{
    border: 1px solid white;
}
.sidenav{
    position: fixed;
    left: 0rem;
    width: 200px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(238, 161, 161, 0.5);
    background-color: rgba(34,34,34,1);
    border-top: 1px solid white;
}

.side-nav-content{
    color: white;
    width: 230px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.nav-list{
    list-style: none;
    height: 100%;
    padding: 0%;
    margin-bottom: 0%;
}

.nav-list-item{
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-list-item:hover{
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.nav-list-item i{
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
}

.nav-list-item span{
    width: 170px;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: white;
}