<div class="sidenav">
    <div class="side-nav-content">
        <ul class="nav-list" *ngIf="sesionIniciada">
            <li class="nav-list-item">
                <i class="fa-solid fa-user"></i>
                <span >
                    <a [routerLink]="'/perfil/' + (usuarioLogueado ? usuarioLogueado[0]?.perfil : '')">Mi Perfil</a>
                </span>
            </li>
            <li class="nav-list-item">
                <i class="fa-solid fa-calendar"></i>
                <span *ngIf="!(usuarioLogueado && usuarioLogueado[0]?.perfil === 'admin')">
                    <a [routerLink]="'/home/' + (usuarioLogueado ? usuarioLogueado[0]?.perfil : '')">Turnos</a>
                </span>

                <span *ngIf="usuarioLogueado && usuarioLogueado[0]?.perfil === 'admin'">
                    <a [routerLink]="'/home/admin/turnos-mostrar'">Turnos</a>
                    <!-- <a [routerLink]="'/home/' + (usuarioLogueado ? usuarioLogueado[0]?.perfil : '')">Turnos</a> -->
                </span>
            </li>
            <li class="nav-list-item" *ngIf="usuarioLogueado && usuarioLogueado[0]?.perfil === 'admin'">
                <i class="fa-solid fa-computer"></i>
                <span class="">
                    <a [routerLink]="'/home/' + (usuarioLogueado ? usuarioLogueado[0]?.perfil : '')">Usuarios</a>
                </span>
            </li>
        </ul>
    </div>
</div>

