<div class="sidenav">
    <div class="side-nav-content">
        <ul class="nav-list" *ngIf="usuarioLogueado">
            <li class="nav-list-item">
                <i class="fa-solid fa-house"></i>
                <span class="">
                    <a [routerLink]="'/home/' + usuarioLogueado[0].perfil">Principal</a>
                </span>
            </li>
            <li class="nav-list-item">
                <i class="fa-solid fa-user"></i>
                <span class="">
                    <a [routerLink]="'/perfil/' + usuarioLogueado[0].perfil">Mi Perfil</a>
                </span>
            </li>
            <!-- <li class="nav-list-item">
                <i class="fa-solid fa-calendar"></i>
                <span class="">
                    <a [routerLink]="'/turno/' + usuarioLogueado[0].perfil">Turnos</a>
                </span>
            </li> -->
        </ul>
    </div>
</div>