
  <div class="container py-5">
    <div class="overlay" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img [src]="usuario?.imagen" alt="imagenPerfil" appRedondearImagen style="width: 150px; height: 150px;">
            <h5 class="my-3">{{usuario?.nombre}}, {{usuario?.apellido}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><strong>Nombre y Apellido</strong></p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{usuario?.nombre}}, {{usuario?.apellido}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><strong> Email</strong></p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{usuario?.mail}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><strong> Fecha nacimiento</strong></p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{usuario?.fechaNacimiento}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><strong>DNI</strong></p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{usuario?.dni}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"> <strong>Especialidad</strong></p>
              </div>
              <div class="col-sm-8">
                <ng-container *ngFor="let especialidad of usuario?.especialidad">
                  <p class="text-muted mb-0">{{ especialidad | titlecase}} </p>
                </ng-container>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0"><strong>Dias atención</strong></p>
              </div>
              <div class="col-sm-8">
                <div *ngIf="!editando">
                  <ng-container *ngFor="let dia of usuario?.diasAtencion">
                    <p class="text-muted mb-0">{{ dia }} </p>
                  </ng-container>
                </div>
                <ng-container  *ngIf="editando">
                  <div *ngFor="let dia of diasSemana">
                    <label>
                      <input type="checkbox" [checked]="this.diasDeTrabajo.includes(dia) || diasDeTrabajo.includes(dia)" (change)="toggleDia(dia)">
                      {{ dia }}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4" >
                <p class="mb-0"><strong>Horario</strong></p>
              </div>
              <div class="col-sm-8">
                <div *ngIf="!editando">
                  <p class="text-muted mb-0">{{horaInicio}} - {{horaFin}}</p>
                </div>
                <div *ngIf="editando">
                  <input type="time" name="horaInicio" [(ngModel)]="horaInicio" value={{usuario.horaInicio}} max="19:00:00" min="08:00:00">
                  -
                  <input type="time" name="horaFin" [(ngModel)]="horaFin" value={{usuario.horaFin}} max="19:00:00" min="08:00:00">
                </div>
                <button class="btn btn-primary btn-sm position-absolute bottom-0 end-0 mb-3 me-3" *ngIf="!editando" (click)="editar()">Editar</button>
                <button class="btn btn-primary btn-sm position-absolute bottom-0 end-0 mb-3 me-3" *ngIf="editando" (click)="guardar()">Guardar</button>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
