<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <a routerLink="/login" class="navbar-brand px-4">
        <img src="assets/img/logo.png" alt="logoPage" style="width: 50px;" class="d-inline-block align-top">Clínica Salud
    </a>

    <div class="navbar-collapse"></div>

    <div class="profile-logo dropstart">
        <div *ngIf="this.usuarioLogueado.uid!=null">

            <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                {{this.usuarioLogueado.nombre | titlecase}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" (click)="logOut()">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</nav>