.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Asegúrate de que esté en la parte superior */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  /* Spinner personalizado o utiliza una biblioteca de spinners */
  border-top: 4px solid #e64141;
  /* Color del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  /* Animación de rotación */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.filtro-container label {
  margin: 10px;
}

.btn-nuevo-turno {
  position: absolute;
  right: 0;
  margin-right: 60px;
  margin-top: 5px;
}

.turnos-container {
  margin: 40px;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.buscar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

input[type="text"] {
  padding: 8px 30px 8px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  width: 200px;
}

.fa-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
}

.buscar-label {
  font-size: 18px; 
  margin-right: 10px; 
  font-weight: bold; 
}