<div class="overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div class="container">
    <div class="container-especialistas">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="max-width: 300px;"
            [(ngModel)]="especialistaSeleccionadoUid">
            <option value="" disabled selected>Selecciona un especialista</option>
            <option *ngFor="let especialista of especialistas" [value]="especialista.uid">
                {{ especialista.apellido }}, {{ especialista.nombre }}
            </option>
        </select>
    </div>
    <div class="calendar-container d-flex">
        <div class="mb-3">
            <label>Desde</label>
            <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicioAux">
        </div>
        <div class="mb-3">
            <label>Hasta</label>
            <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFinAux">
        </div>
    </div>
    <ng-container *ngIf="especialistaSeleccionadoUid">
        <button (click)="buscar()" type="button" class="btn btn-secondary">Filtrar</button>
        <div >
            <div id="contenedorChart">
                <canvas id="turnosMedico" width="400" height="200"></canvas>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-success" (click)="descargarExcel()">Descargar excel</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" (click)="imprimirPantalla()">Descargar PDF</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>