<div class="overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div> 
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>DNI</th>
      <th>Estado</th>
      <th>Habilitar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>
        <div class="d-flex align-items-center">
          <img
            [src]="usuario.imagen"
            alt="" style="width: 45px; height: 45px" class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{usuario.apellido}}, {{usuario.nombre}}</p>
            <p class="text-muted mb-0">{{usuario.mail}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{usuario.perfil}}</p>
        <p class="text-muted mb-0">{{usuario.especialidad}}</p>
        <p class="text-muted mb-0">{{usuario.obraSocial}}</p>
      </td>
      <td>{{usuario.dni}}</td>
      <td>
        <span [ngClass]="{'badge rounded-pill': true, 
                 'text-bg-success': usuario.estado, 
                 'text-bg-danger': !usuario.estado}">
                {{ usuario.estado ? 'Activo' : 'No Activo' }}
        </span>
      </td>
      <td>
        <button *ngIf="!usuario.estado" type="button" class="btn btn-outline-dark btn-sm" (click)="habilitarUsuario(usuario.uid)">Habilitar
        </button>
      </td>
    </tr>
    <tr>
  </tbody>
</table>
<div style="position: relative;">

  <button type="button" class="btn btn-outline-dark btn-agregar" routerLink="register">Alta Admin</button>
</div>



