.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Asegúrate de que esté en la parte superior */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  /* Spinner personalizado o utiliza una biblioteca de spinners */
  border-top: 4px solid #e64141;
  /* Color del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  /* Animación de rotación */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.usuarios-container {
  max-height: calc(100vh - 150px); /* Ajusta según sea necesario para evitar que la tabla ocupe toda la pantalla */
  overflow-y: auto;
}

.btn-agregar {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-agendar{
  position: fixed;
  bottom: 10px;
  left: 250px;
}