<div class="container">
    <div class="especialidad">
        <label for="specialty">Especialidades</label>
        <select class="form-control" id="specialty" [(ngModel)]="especialidadSeleccionada">
            <option *ngFor="let especialdiad of especilidades">{{especialdiad.nombre}}</option>
        </select>
        <button (click)="buscarPorEspecialidad()">Buscar Turno</button>
    </div>

    <div class="contenedor" *ngIf="especialistas != null">
        <ng-container *ngFor="let especialista of especialistas">
            <h3>{{ especialista.apellido }} - Horario de Atención</h3>
            <ng-container>
                    <button (click)="mostrarTurnos(especialista.horaInicio, especialista.horaFin, especialista)">Apreta aca</button>
                </ng-container>
            </ng-container>

    </div>
</div>