<div class="container" [@fadeInUp]>
    <div class="row mt-4">
        <ng-container *ngFor="let paciente of arrayPacientes">
            <div class="col-md-3 mb-3">
                <div class="card" style="width: 100%;">
                    <img [src]="paciente?.imagen[0]" class="card-img-top square-image" alt="imagenPerfil">
                    <div class="card-body">
                        <h5 class="card-title">{{ paciente.apellido }}, {{ paciente.nombre }}</h5>
                        <ng-container *ngFor="let turno of obtenerTresTurnosPorPaciente(paciente.uid)">
                            <p class="card-text">Fecha: {{ turno.fecha }}</p>
                        </ng-container>
                        <a class="btn btn-primary" 
                        (click)="historiaClinicaPaciente(paciente)"
                        data-bs-dismiss="modal" 
                        data-bs-toggle="modal" 
                        data-bs-target="#HistoriaClinica"
                        appHoverEffect>
                        Historia Clinica</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Modal Historia Clinica Paciente -->
<div class="modal fade" id="HistoriaClinica" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabels">{{pacienteSeleccionado?.nombre}}, {{pacienteSeleccionado?.apellido}}. Historia clínica
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ng-container *ngFor="let turno of turnosDetallado">
            <ng-container *ngIf="turno.uidPaciente == pacienteSeleccionado?.uid">
              Fecha: {{turno.fecha}}, {{turno.horaInicio}}<br>
              Comentarios: {{turno.comentarios}}<br>
              Altura: {{turno.datosFijos.altura}}<br>
              Peso: {{turno.datosFijos.peso}}<br>
              Presion: {{turno.datosFijos.presion}}<br>
              Temperatura: {{turno.datosFijos.temperatura}}<br>
              Diagnostico: {{turno.datosFijos.diagnostico}}<br>
              <ng-container *ngIf="turno.datosDinamicos.dato1.nombre != ''">{{turno.datosDinamicos.dato1.nombre}}: {{turno.datosDinamicos.dato1.valor}}<br></ng-container>
              <ng-container *ngIf="turno.datosDinamicos.dato2.nombre != ''">{{turno.datosDinamicos.dato2.nombre}}: {{turno.datosDinamicos.dato2.valor}}<br></ng-container>
              <ng-container *ngIf="turno.datosDinamicos.dato3.nombre != ''">{{turno.datosDinamicos.dato3.nombre}}: {{turno.datosDinamicos.dato3.valor}}<br></ng-container>             
              <hr>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>