<div class="overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div class="turnos-container" [@fadeInRight]>
    <form [formGroup]="filtroForm">
        <div class="filtro-container">

            <div class="buscar-container">
                <label for="filtrar" class="buscar-label">Buscar:</label>
                <div class="input-container">
                    <input type="text" id="filtrar" formControlName="filtrar">
                    <i class="fa fa-search"></i>
                </div>
                <button class="btn-danger btn-sm btn-nuevo-turno" routerLink="turno/">Nuevo Turno</button>
            </div>

        </div>

        <table class="table table-striped align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Especialidad</th>
                    <th>Estado</th>
                    <th>Accion</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of turnosFiltrado">
                    <td>
                        <p class="fw-normal mb-1">{{turno.nombrePaciente}}</p>
                    </td>
                    <td>
                        {{turno.fecha}}
                    </td>
                    <td>
                        {{turno.horaInicio}}
                    </td>
                    <td>
                        {{turno.especialidad.nombre | primeraMayuscula}}
                    </td>
                    <td>
                        <span [ngClass]="(turno.estado | colorPorEstado)">
                            {{turno.estado | primeraMayuscula}}
                        </span>
                    </td>
                    <td>

                        <button *ngIf="turno.estado === 'pendiente'" type="button"
                            class="btn btn-outline-primary btn-sm" (click)="confirmarTurno(turno)">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        <button *ngIf="turno.estado === 'pendiente'" type="button"
                            class="btn btn-outline-primary btn-sm" (click)="cancelarTurno(turno)">
                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <button *ngIf="turno.estado === 'confirmado'" type="button"
                            class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                            (click)="abrirFinalizarTurnoModal(turno)" data-bs-target="#finalizarModal">Finalizar
                        </button>
                    </td>
                    <td>
                        <span
                            *ngIf="(turno.comentarios !== '' && turno.comentarios!== undefined) || (turno.resenia !== '' && turno.resenia !== undefined)">
                            <i class="fas fa-eye text-muted" (click)="verComentariosTurno(turno)"></i>
                        </span>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
    </form>
</div>

<!-- MODAL FINALIZAR -->
<div class="modal fade" id="finalizarModal" tabindex="-1" aria-labelledby="finalizarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Finalizar turno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="turnoSeleccionado">
                <strong>Paciente: </strong> {{turnoSeleccionado.nombrePaciente}}<br>
                <strong>Fecha: </strong> {{turnoSeleccionado.fecha}}<br>
                <br>
                <strong>Datos Fijos</strong>
                <div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="altura">Altura</label>
                            <input type="number" placeholder="Ingrese altura en cm."
                                class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="datosFijos.altura">
                        </div>
                        <div class="col-md-6">
                            <label for="peso">Peso</label>
                            <input type="number" placeholder="Ingrese peso en kg."
                                class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="datosFijos.peso">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="temperatura">Temperatura</label>
                            <input type="number" placeholder="Ingrese temperatura"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosFijos.temperatura">
                        </div>
                        <div class="col-md-6">
                            <label for="presion">Presión</label>
                            <input type="number" placeholder="Ingrese presión"
                                class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="datosFijos.presion">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="presion">Diagnostico</label>
                        <input type="text" placeholder="" class="form-control ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="datosFijos.diagnostico">
                    </div>
                    <div class="col-md-12">
                        <label for="presion">Comentarios</label>
                        <input type="text" placeholder="" class="form-control ng-untouched ng-pristine ng-valid"
                            [(ngModel)]="comentarios">
                    </div>
                </div>
                <br>
                <strong>Datos Extras</strong>
                <br>
                <div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="nombre dato1"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato1.nombre">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="valor dato1"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato1.valor">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="nombre dato2"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato2.nombre">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="valor dato2"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato2.valor">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="nombre dato3"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato3.nombre">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="valor dato3"
                                class="form-control ng-untouched ng-pristine ng-valid"
                                [(ngModel)]="datosDinamicos.dato3.valor">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="finalizarTurno(this.turnoSeleccionado)">Confirmar</button>
            </div>
        </div>
    </div>
</div>