<div class="overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div class="turnos-container">
    <form [formGroup]="filtroForm">
        <div class="filtro-container">

            <label for="especialista">Paciente:</label>
            <input type="text" formControlName="paciente">

            <label for="especialidad">Especialidad:</label>
            <input type="text" formControlName="especialidad">

        </div>

        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Especialidad</th>
                    <th>Estado</th>
                    <th>Accion</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of turnosFiltrado">
                    <td>
                        <p class="fw-normal mb-1">{{turno.nombrePaciente}}</p>
                    </td>
                    <td>
                        {{turno.fecha}}
                    </td>
                    <td>
                        {{turno.horaInicio}}
                    </td>
                    <td>
                        {{turno.especialidad}}
                    </td>
                    <td>
                        <span [ngClass]="getColorPorEstado(turno.estado)">
                            {{turno.estado}}
                        </span>
                    </td>
                    <td>

                        <button *ngIf="turno.estado === 'pendiente'" type="button"
                            class="btn btn-outline-primary btn-sm" (click)="confirmarTurno(turno)">Si
                        </button>
                        <button *ngIf="turno.estado === 'pendiente'" type="button"
                            class="btn btn-outline-primary btn-sm" (click)="cancelarTurno(turno)">No
                        </button>
                        <button *ngIf="turno.estado === 'confirmado'" type="button"
                            class="btn btn-outline-warning btn-sm" (click)="finalizarTurno(turno)">Finalizar
                        </button>
                    </td>
                    <td>
                        <span
                            *ngIf="(turno.comentarios !== '' && turno.comentarios!== undefined) || (turno.resenia !== '' && turno.resenia !== undefined)"
                            class="d-flex justify-content-center">
                            <i class="fas fa-eye text-muted" (click)="verComentariosTurno(turno)"></i>
                        </span>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
    </form>
</div>